<nav class="navigation">
    <ul class="navbar">
        <li><a class="navlink" href="/SpartanEvent/events"> Events</a></li>
        <li><a class="navlink" href="/SpartanEvent/userRSVPs"> RSVPs</a></li>
        <li><a class="navlink" href="/account/user/logout">Sign Out</a></li>
    </ul>
</nav>