<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer Sign Up</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="container">
        <div class="containerInner">
            <div class="infoBox">
                <h1>User Sign Up</h1>
                <% if (error) { %>
                    <p class="error-message">
                        <%= error %>
                    </p>
                    <% } %>
                        <div class="inputField">
                            <form action="/account/user/signup" method="POST" class="infoInput">
                                <input type="text" placeholder="Username" name="username"> <br>
                                <input type="text" placeholder="Email" name="email"> <br>
                                <input type="password" placeholder="Password" name="password"> <br>
                                <button type="submit">Sign Up</button>
                            </form>
                            <p>Already have an account? <a href="/account/user/login">Log In</a></p>
                        </div>
            </div>
        </div>
    </div>
</body>

</html>