body {
    background-color: rgb(38, 40, 41);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.header {
    background-image: linear-gradient(rgba(0, 8, 51, 0.9), rgba(0, 8, 51, 0.9)), url(../images/UNCGbackimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    /*here*/
}

.header h1 {
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.navigation {}

.navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-right: 30px;
}

.navlink {
    font-size: 17pt;
    padding-right: 40px;
    text-decoration: none;
}

#btnBox {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.btn,
.btnUserList,
.flagEvent,
.flagComment,
.btn,
.btnUserList {
    background-color: rgb(38, 40, 41);
    border: solid 1px white;
    padding: 2px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.flagEvent {
    margin-bottom: 5px;
    margin-left: 5px;
}

.btnUserList {
    float: right;
}

.eventContent {
    margin-top: 20px;
    margin-bottom: 50px;
    border: solid 2px white;
    min-height: 300px;
}

.eventContentInner {
    margin: 20px;

}

.generalDisplay {
    display: flex;
}

.eventTitle {
    margin-bottom: 10px;
    padding-left: 10px;
}

#generalDisplay {
    margin-bottom: 10px;
}


.eventImg {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    padding: 10px;
}

.eventImg button {
    margin-top: 65px;
    height: 20%;
}

.eventContentInner img {
    height: auto;
    width: 30%;
}

.dateTimeLocation {
    margin-left: 150px;
}

.date {
    padding-left: 5px;
}

.time {
    padding-left: 5px;
}

.location {
    padding-left: 5px;
}

.eventDescription,
.eventDescription2 {
    padding-left: 5px;
    margin-top: 10px;
}

.eventDescription2 {
    padding: 10px;
}

.commentbox {
    border: solid 2px white;
}

.commentbox p {
    margin: 0;
}

.commentbox form {
    margin-top: 20px;
}

#comment-user {
    margin-top: 30px;
}

#comment-content {
    margin-top: 2px;
}

.commentinput {
    padding: 2px;
    width: 934px;

}

#comment-form {
    margin-left: 5px;
}

#comment-form button {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(38, 40, 41);
    border: solid 2px white;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.rsvpbtn {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-right: 10px;
}

.rsvpbtn button, .showMap {
    background-color: rgb(38, 40, 41);
    border: solid 2px white;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.showMap {
    margin: 10px;
}

.hiddenMap, .shownMap {
    height: 400px;
    width: 100%;
}

.hiddenMap {
    display: none;
}

.shownMap{
    display: block;
}